{% extends 'base.html' %}
{% block homepageview %}
<div class="container-lg ">
    <p class="instructions">This application will find an open restaurant based on the current time!</p>
    <div id="clock"></div>
    <div>
        <p class="instructions" >Select an option.</p>
        <form>
            <label>
                <input class="instructions" type="radio" name="choice" value="current_time"> User Current time</label>
            <br>
            <label>
                <input type="radio" name="choice" value="user_input"> User text input</label>
            <br>
        </form>
        <p class="instructions">You may use the following examples or formats:</p>
       <ul>
            <li>5/23/2025, 11:00:00 AM</li>
            <li>2025-05-23T10:23:00Z</li>
            <li>2025-05-23T10:23:00+05:30</li>
            <li>2025-05-23T10:23:00-07:00</li>
        </ul>

        <input id="userInput" type="text" placeholder="Enter date and time here!">
    </div>
    <button onclick="find_open_restaurants()">Click me to find open restaurants!</button>
    <div id="open-restaurants">

    </div>
</div>

{% endblock %}